<form  [formGroup]="expenseForm" (ngSubmit)="addExpense()">
    <div class="">
      <label class="col-4" for="">Description</label>
      <input id="description" focus class="col-8" required type="text" placeholder="description" formControlName="description">
      <div class="text-danger invalid-feedback">
        Please provide a valid description.
      </div>
    </div>
    <div class="">
      <label class="col-4" for="">Amount</label>
      <input id="amount" class="col-8" type="number" formControlName="amount">
    </div>
    <div class="">
      <label class="col-4" for="">Date</label>
      <input id="date" class="col-8" type="date" formControlName="date">
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="expenseForm.invalid">add expense</button>
  </form>