<sd-body-content pageLayout="page">
  <sd-body-content-header>
    <sd-page-title title="Home of the expenses"></sd-page-title>
  </sd-body-content-header>
  <sd-body-content-inner>
    <sd-card>
      <sd-card-header>
        <h5 class="mb-0">What is the SD Worx Web UI Kit?</h5>
      </sd-card-header>
      <sd-card-body>
        <p class="mb-4"> In short, it's a
          <b>HTML &amp; CSS framework</b>, utilizing
          <b>SASS</b> as a preprocessor.
          <br>It provides and describes a collection of SD Worx-styled, re-usable
          <b>Angular</b> components, graphics and guidelines.</p>
        <p class="mb-4">These should be taken into account while constructing
          <strong>new</strong> web applications or updating
          <strong>existing</strong> ones.</p>
        <p class="mb-4">We haven't started from scratch of course. Using the excellent
          <b>Flatkit Admin Theme</b> as a kickstart on top of
          <b>
            <a href="https://v4-alpha.getbootstrap.com/">Twitter Bootstrap 4</a>
          </b>, we believe that the SD Web UI Kit will offer you the necessary building blocks to shape the user interface to
          the functional needs of any SD Worx application.</p>
      </sd-card-body>
    </sd-card>
    <sd-card>
      <sd-card-header>
        <h4 class="mb-0">Who is it for?</h4>
      </sd-card-header>
      <sd-card-body>
        <p> Since this documentation provides developer guidelines as well as design guidelines: everyone who's involved in creating
          SD Worx applications.
          <br>This means developers over analysts to product owners... </p>
        <h4>Why a new one? </h4>
        <p>Very simple: To create a more consistent cross channel user experience. To close the gap between our websites and
          applications. We've often asked ourselves the question: What exactly is it that makes our product breathe the SD
          Worx vibe? Difficult, no? Therefor we've elaborated further on the existing brand, together with an external party.
          The result is reflected in this new kit.</p>
      </sd-card-body>
    </sd-card>
    <sd-card [class]="'mb-0'">
      <sd-card-header>
        <h4 class="mb-0">Last but not least...</h4>
      </sd-card-header>
      <sd-card-body>
        <p>Our kit is by no means static; it'll be updated regularly.</p>
        <p class="card-text">Although the
          <a class="" href="mailto:#">UX team</a> guards the Web UI Kit, we embrace
          <b>collaboration</b>.
          <br>Help us speed-up the growth of this collection even more by using, evangalizing, contributing (pull-requests) to
          the Web UI kit.
          <br>We welcome your ideas, request, remarks or a simple pat on our back ;-).</p>
        <p>Have fun!
          <br>Stephen, Yoeri &amp; Michel</p>
      </sd-card-body>
    </sd-card>
  </sd-body-content-inner>
  <sd-body-content-footer>@sdworx</sd-body-content-footer>
</sd-body-content>
